extends components/layout.pug
block header 
  include components/header.pug
block main 
  main
    section.hero      
      .container.hero__container
        .hero-content
        .hero-big-image
        .swiper-container
          .swiper-wrapper
            each item in slide 
              if item['IsVideo']
                .swiper-slide
                  video#video.video(preload='metadata' loop muted autoplay playsinline)                              
                    source(src = item['img_path'] type="video/mp4")                           
              else 
                .swiper-slide(style='background-image: url(' + item['img_path'] + ');')
                  a(href=item['url']) 
                    button.hero-content__btn.site-btn(onclick='window.location.href="#"') #{item['button_txt']}
          .swiper-pagination
    section.featured.container
      h2.featured__heading.bold SALE     
      ul.featured__list
        each item in discount 
          li.featured__item
            .featured__item_imgwrapper
              a(href='/products/'+item['slug']+'?color='+item['color_slug'])
                img.featured__item_img(src=item['img_path'])
            h3.featured__item_heading #{item['name']}
            p.featured__item_text #{item['product_color']}     
            p(style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin: 0")        
              span.featured__item_price(style="padding-right: 15px; display: inline-block; margin: 12px 0 12px 0; text-decoration: line-through; text-decoration-color: red;") #{item['price']} 
              span.featured__item_price(style="display: inline-block; margin: 12px 0 12px 0; font-weight: bold") #{item['total_price']}
    section.featured.container
      h2.featured__heading.nm Безупречные брюки на ваш рост      
      ul.featured__list
        each item in product 
          li.featured__item
            .featured__item_imgwrapper
              a(href='/products/'+item['slug']+'?color='+item['color_slug'])
                img.featured__item_img(src=item['img_path'])
            h3.featured__item_heading #{item['name']}
            p.featured__item_text #{item['product_color']}
            if item["total_price"]
              p(style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin: 0")        
                span.featured__item_price(style="padding-right: 15px; display: inline-block; margin: 12px 0 12px 0; text-decoration: line-through; text-decoration-color: red;") #{item['price']} 
                span.featured__item_price(style="display: inline-block; margin: 12px 0 12px 0; font-weight: bold") #{item['total_price']}
            else
              p.featured__item_price #{item['price']}          
block footer 
  include components/footer.pug
  script(src='/javascripts/swiper-bundle.min.js')
  script(src='/javascripts/script.js')